---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Oswald:400,300|Roboto:300,300italic,500,500italic");

// Our variables
$font-family-base:          'Roboto', sans-serif;
$headings-font-family:      'Oswald', sans-serif;
$font-family-monospace:     Monaco, Consolas, "Courier New", monospace;

$spacing-unit:              30px;

$line-height-base:          1.75;
$font-size-base:            16px;

$navbar-height:             75px;

// Brand colours
$brand-primary:             #3b88c8;
$brand-soapbox:             $brand-primary; // #3b88c8
$brand-success:             #3ab49b;
$brand-warning:             #fbaf3f;
$brand-danger:              #ff564f;
$brand-info:                #d67bb2;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/assets/stylesheets/bootstrap";
@import "extendstrap";
@import "base", "layout", "syntax-highlighting";

body {
  font-size: 16px;
  font-weight: 300;
  background-repeat: no-repeat;
  background-position: center 175px;
  background-attachment: fixed;
  background-color: lighten($gray-lighter, 3%);

  @include img-retina(
    "{{ site.baseurl }}/img/logo.png",
    "{{ site.baseurl }}/img/logo@2x.png",
    650px, 400px
  );
}

#new-release-announcement {
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
  p {
    margin: 15px auto;
    line-height: 1.4;
  }
  img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}

#new-release-announcement-title {
  margin: 15px 0;
}

#new-release-banner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1031;
  line-height: 36px;
  white-space: nowrap;
  border-width: 2px 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  text-align: center;

  a {
    color: inherit;
    font-weight: bold;
  }

  .close {
    line-height: inherit;
    padding-right: 20px;
  }

  .with-announcement-banner & {
    display: block;
  }
}

// Pages
@import "home";
@import "docs";
