---
---
@charset "utf-8";

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I9tAcVwo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9iB85tU1ECVZl_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Our variables
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$headings-font-family: Poppins, Arial, sans-serif;
$font-family-monospace: Monaco, Consolas, "Courier New", monospace;
$font-weight-bold: 600;
$font-weight-bolder: 600;
$headings-font-weight: 700;


// Brand colours
$blue: #2584e2;
$pink: #d67bb2;
$red: #ec5979;
$yellow: #fbaf3f;
$green: #70e8b1;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/scss/bootstrap";
@import "extendstrap";
@import "base";
@import "syntax-highlighting";

body {
  font-size: 16px;
  font-weight: 300;
  color: $dark;
  color: var(--bs-dark);
  background-color: $light;
  background-color: var(--bs-light);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn, .btn:hover {
  text-decoration: none;
}

.btn-primary, .btn-primary:hover {
  color: white;
}

.icon {
  width: 2em;
}

.site-header {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#page-title {
  line-height: 1;
}

// Pages
@import "home";
@import "docs";
