{
    "extends": [
        "eslint:recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "es6": true,
        "amd": true
    },
    "rules": {
        "curly": 2,
        "eqeqeq": 2,
        "no-eq-null": 2,
        "quotes": [2, "single", "avoid-escape"],
        "semi": 2
    },
    "plugins": [
        "mocha"
    ],
    "globals": {
        "__base": false
    }
}
