{
    "extends": [
        "eslint:recommended",
		"plugin:mocha/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "es6": true,
        "amd": true,
		"mocha": true
    },
    "rules": {
        "curly": 2,
        "eqeqeq": 2,
        "no-eq-null": 2,
        "quotes": [2, "single", "avoid-escape"],
        "semi": 2,
		"no-unused-vars": [ "error", { "varsIgnorePattern": "should|expect" }],
		"mocha/no-mocha-arrows": 0
    },
    "plugins": [
        "mocha",
		"@babel"
    ],
    "globals": {
        "__base": false,
		"expect": false
    }
}
