# All compiled code will be in the `lib` folders
amd
assets
bower_components
build
coverage
demo
dist
src
templates
test

# Files
.editorconfig
.jshintrc
.travis.yml
bower.json
gulpfile.js
testem.json
