# All compiled code will be in the `lib` folders
.nyc_output
.sass-cache
_sass
_site
amd
assets
bower_components
build
coverage
demo
js
src
templates
test
vendor

# Files
*.md
*.yml
*.tar.gz
*.tgz
.tags*
.babelrc*
.eslintrc*
.editorconfig
bower.json
gulpfile.js
testem.json
*.config.js*
tasks
tsconfig.json
