sudo: false
language: node_js
node_js:
  - "9.4"
  - "8.9"
  - "4.4"
env:
  global:
    - secure: LhH+mMqOktTe6cIt97PGKBfgUjZM8vRd0qddyg61FSxg7a3WrHQoHE8WdRioJ9+DDzpu/NSTsHEUFUpGN+kSRw1UY4tsNLH6HoBQnqrNN4tVOeefudJpdeteOKZrJ8r8TaA/eO7sAgXO2T+RLJ8+qTbhx8FVZtLaCAgkrS0w9Qk=
    - secure: Okwm1aAR3oo09AhHDsjFSq1UGlIUtWYYvYeoolJScC/UVFGMiK9oC4fzRtUHv3kXcnshDlcVDrr/Q5JL9Qx6E+tosPJp+tioaqE8X4IDbVk7PPs/ToOOEmWnGvxkgmfCGSDuneG8RVhILkhls3fbm0z+rRWlvJkjefeA96T6zps=
  matrix:
    - REACT_VERSION=0.14.0 JQUERY_VERSION=1.11.0
    - REACT_VERSION=16.0.0 JQUERY_VERSION=3.0.0

install:
  - npm install
before_script:
  - 'if [ "$JQUERY_VERSION" ]; then npm install jquery@~$JQUERY_VERSION; fi'
  - 'if [ "$REACT_VERSION" ]; then npm install react@~$REACT_VERSION; fi'
  - 'if [ "$REACT_VERSION" ]; then npm install react-dom@~$REACT_VERSION; fi'
script: ./run-tests.sh
after_script: yarn coverage
