<footer class="site-footer py-5">
  <div class="container text-center">
    <ul class="social-media-list list-inline">
      {% if site.github_username %}
      <li class="list-inline-item footer-icon">
        <a href="https://github.com/{{ site.github_username }}" title="{{ site.github_username }} on GitHub">
          {% include icon-github.html %}
          <span class="visually-hidden">{{ site.github_username }} on GitHub</span>
        </a>
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li class="list-inline-item footer-icon">
        <a href="https://twitter.com/{{ site.twitter_username }}" title="@{{ site.twitter_username }} on Twitter">
          {% include icon-twitter.html %}
          <span class="visually-hidden">@{{ site.twitter_username }} on Twitter</span>
        </a>
      </li>
      {% endif %}
    </ul>  </div>

</footer>
