<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="row">
      <div class="col-sm-3">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              {% include icon-github.html %}
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              {% include icon-twitter.html %}
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-sm-6">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
