<!-- Begin new-release announcement -->
<div id="new-release-announcement" class="alert alert-warning row">
  <h2 id="new-release-announcement-title" class="text-center">Linkify 2.1 released!</h2>
  <img src="{{ "/img/2.1-announcement.png" | prepend: site.baseurl }}" alt="2.1">
  <p class="col-md-7">Now with support for React, mentions, GitHub-style tickets, and more!</p>
  <p class="col-md-5 text-center">
    <a href="{{ "/docs/2.1.html" | prepend: site.baseurl }}" class="btn btn-warning">See what's new</a>
    <a href="https://github.com/SoapBox/linkifyjs/releases/download/v2.1.0/linkifyjs.zip" class="btn btn-default version-download" download="linkifyjs.zip">Download</a>
  </p>
</div>
<!-- End new-release announcement -->
