%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

header, footer, #page-header {
  background-color: white;
  border: 3px solid $gray-lighter;
  border-left: none;
  border-right: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1031;
  text-align: center;
  border-top: none;
  .with-announcement-banner & {
    top: 40px;
  }
}

footer {
  border-bottom: none;
  padding-top: 30px;
  padding-bottom: 15px;
}

#page-header {
  margin-top: 256px;
  .with-announcement-banner & {
    margin-top: 296px;
  }
  &.offset {
    margin-top: 575px;
    .with-announcement-banner & {
      margin-top: 615px;
    }
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $font-size-small;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
  small {
    font-weight: inherit;
  }
  > code {
    font-family: inherit;
    font-size: inherit;
  }
}

small {
  @include opacity(0.6);
}
/**
 * Code formatting
 */
pre, code {
  font-size: 14px;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  background-color: white;
}

code {
  padding: 1px 5px;
  font-size: 80%;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  white-space: nowrap;
  word-break: normal;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


.page-title {
  margin: 0;
  font-size: 50px;
  line-height: 2;
  height: 0;
  overflow: hidden;
  > a {
    color: inherit;
    &:hover, &:active, &:visited, &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  @include transition(all 0.3s ease);

  &.active {
    font-size: 90px;
    line-height: 0.6;
    padding-top: 30px;
    height: 180px;
  }

  small {
    font-size: 35%;
  }
}

.navbar-fixed-top {
  top: 105px;
  border-bottom: 3px solid #eee;
  @include transition(top 0.3s ease);
  &.top {
    top: 0;
    .with-announcement-banner & {
      top: 40px;
    }
  }
}

.navbrand-linkify {
}

.offset {
  .page-title {
    @media (min-width: $screen-sm-min) {
      height: 100px;
    }
    &.active {
      height: 180px;
    }
  }

  .navbar-fixed-top {
    @media (min-width: $screen-sm-min) {
      top: 103px;
    }
  }

  .navbrand-linkify {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  &.with-announcement-banner {
    .navbar-fixed-top {
      @media (min-width: $screen-sm-min) {
        top: 143px;
      }
    }
  }
}

.page-tagline {
  font-size: 40px;
  color: $gray-lighter;
  text-align: center;
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $gray;
    }
  }
}

#content {
  background-color: lighten($gray-lighter, 3%); // same as body
}

.blurb {
  max-width: $screen-sm-min;
  margin-left: auto;
  margin-right: auto;
}
