@mixin transform($transform...) {
  -webkit-transform: $transform;
  -ms-transform: $transform; // IE9 only
  -o-transform: $transform;
  transform: $transform
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: ($line-height-computed * 1.5);
  margin-bottom: $line-height-computed;
}

button, .btn, .navbar-brand {
  padding-left: 15px;
  padding-right: 15px;
  font-family: $headings-font-family;
  font-weight: normal;
}

button, .btn {
  border-width: 0 0 2px 0;
  font-weight: lighter;
}

.btn-xs, .btn-sm {
  font-family: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-lg {
  border-bottom-width: 3px;
}

.btn-xl {
  // Like btn-lg, but better
  @extend .btn-lg;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 45px;
  font-weight: lighter;
  font-size: 25px;
  border-bottom-width: 4px;
  border-radius: 7px;
  @media (min-width: $screen-sm-min) {
    min-width: 200px;
  }
}

.btn-default {
  background-color: $gray-lighter;
}

.navbar-toggle {
  > .icon-bar {
    @include transition-transform(0.3s);
    &:nth-child(2) {
      @include transform(translateY(6px) rotateZ(45deg));
    }
    &:nth-child(3) {
      transform: scale(0);
    }
    &:nth-child(4) {
      @include transform(translateY(-6px) rotateZ(-45deg));
    }
  }

  &.collapsed > .icon-bar {
    @include transform(translateY(0) rotateZ(0) scale(1));
  }
}
