#home {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-tagline {
  font-size: 40px;
  color: lighten($gray-light, 20%);
  text-align: center;
}

.demo-well {
  white-space: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
  background-color: white;
}
