/**
	Linkify Demo CSS
*/
@import url(//fonts.googleapis.com/css?family=Oswald:400,300|Roboto:300,300italic,500,500italic);

html, body {
	font-family: 'Roboto', sans-serif;
}

body {
	background: url(../img/logo.png);
	background-repeat:no-repeat;
	background-position: center 175px;
	background-attachment: fixed;
	background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
button, .btn, .navbar-brand {
	font-family: 'Oswald', sans-serif;
}

body,
.form-control,
.dropdown-menu > li > a {
	font-weight: 300;
}

.btn-xl {
	padding: 15px 24px;
	font-size: 27px;
	line-height: 2;
	border-radius: 9px;
}

header, footer, .main-section-container {
	background-color: #ffffff;
	border: 3px solid #eee;
	border-left: none;
	border-right: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1031;
	text-align: center;
	border-top: none;
}

footer {
	border-bottom: none;
}

.page-title {
	margin: 0;
	font-size: 50px;
	line-height: 2;
	height: 0;
	overflow: hidden;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.page-title.active {
	font-size: 90px;
	line-height: 0.6;
	padding-top: 30px;
	height: 180px;
}

.page-title > small {
	font-size: 35%;
}

.navbar-fixed-top {
	top: 130px;
	border-bottom: 3px solid #eee;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}
.navbar-fixed-top.top {
	top: 0;
}

.main-section-container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 575px;
}

.page-tagline {
	font-size: 40px;
	color: #aaaaaa;
	text-align: center;
}

.main {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #e5e5e5;
	background-color: #f5f5f5;
}

.main:last-of-type {
	border-bottom: none;
}

.demo-well {
	background: #ffffff;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.prettyprint {
	color: #535353;
	background-color: #f8f8f8;
}

.pln,
.typ,
.pun,
.opn,
.clo {
	color: #535353;
}
.str,
.atv {
	color: #f18900;
}
.kwd,
.tag {
	color: #446fb0;
}
.com,
.dec,
.var,
.linenums {
	color: #a2a2a2;
}
.lit,
.atn {
	color: #738d00;
}
.fun {
	color: #8757ad;
}

.prettyprint .linenums li {
	 list-style-type: decimal !important;
	 word-break: break-word;
	 background-color: #f8f8f8;
}

pre.prettyprint {
	border-color: #dddddd;
	position: relative;
}
pre.prettyprint:before {
	content: attr(data-lang);
	position: absolute;
	right: 0;
	top: 5px;
	font-size: 10px;
	height: 20px;
	padding: 0 8px;
	line-height: 2;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-style: italic;
	background-color: #e5e5e5;
}
@media (min-width: 768px) {
	.page-title {
		height: 100px;
	}
	.navbar-fixed-top.top {
		top: 103px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	body {
		background: url(../img/logo@2x.png);
		background-size: 650px 400px;
		background-repeat:no-repeat;
		background-position: center 175px;
		background-attachment: fixed;
		background-color: #f5f5f5;
	}
}
