/**
	Linkify Demo CSS
*/
@import url(//fonts.googleapis.com/css?family=Oswald:400,300|Roboto:300,300italic,500,500italic);

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: url(../img/logo.svg);
	background-repeat:no-repeat;
	background-position: center 200px;
	background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Oswald', sans-serif;
}
.btn-xl {
	padding: 15px 24px;
	font-size: 27px;
	line-height: 2;
	border-radius: 9px;
}

header, footer, .nav-container {
	background-color: #ffffff;
	border: 3px solid #eee;
	border-left: none;
	border-right: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-top: none;
}

footer {
	border-bottom: none;
}

.page-title {
	margin: 0;
	font-size: 50px;
	font-size: 5rem;
	line-height: 2;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.page-title.active {
	font-size: 100px;
	font-size: 10rem;
}

.nav-container {
	margin-top: 600px;
}
.page-tagline {
	font-size: 40px;
	font-size: 4rem;
	color: #aaaaaa;
	text-align: center;
}