<!DOCTYPE html>
<html>

  {% include head.html %}

  <body{%if page.headeroffset %} class="offset"{% endif %}>

    {% include header.html %}

    <main id="content" class="container" role="main">
      {{ content }}
    </main>

    {% include footer.html %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/linkifyjs@{{ site.version }}/dist/linkify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/linkifyjs@{{ site.version }}/dist/linkify-plugin-hashtag.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/linkifyjs@{{ site.version }}/dist/linkify-plugin-mention.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/linkifyjs@{{ site.version }}/dist/linkify-string.js"></script>
    {% if page.scripts %}
      {% for script in page.scripts %}
        <script src="{{ site.baseurl }}/js/{{ script }}"></script>
      {% endfor %}
    {% endif %}

  </body>

</html>
