---
layout: default
---
<div id="docs" class="docs row">
  <aside id="docs-sidebar" class="col-sm-4 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Table of Contents</h4></div>
      <ul class="list-unstyled panel-body">
        <li><a href=".">Getting Started</a></li>
        <li><a href="linkify.html"><strong>linkify</strong></a></li>
        <ul>
          <li><a href="linkify-jquery.html">linkify-jquery</a></li>
          <li><a href="linkify-html.html">linkify-html</a></li>
          <li><a href="linkify-element.html">linkify-element</a></li>
          <li><a href="linkify-string.html">linkify-string</a></li>
        </ul>
        <li><strong><a href="plugins.html">Plugins</a></strong></li>
        <ul>
          <li><a href="plugin-hashtag.html">hashtag</a></li>
        </ul>
        <li><strong><a href="options.html">Options</a></strong></li>
        <li><strong><a href="caveats.html">Caveats</a></strong></li>
      </ul>
    </div>
  </aside>
  <article id="docs-content" class="col-sm-8 col-lg-9">
    {{content}}
  </article>
</div>
