---
layout: default
---
<h2 class="display-6 text-center mb-3">Documentation</h2>
<section id="docs" class="docs row">
  <aside id="docs-sidebar" class="col-sm-4 col-lg-3">
    <div class="card bg-lighter">
      <div class="card-body">
        <h4 class="card-title">Browse</h4>
        <ul class="list-unstyled cart-text">
          <li><a href="."><strong>Getting Started</strong></a></li>
          <li><a href="2.1.html">What's new in 2.1</a></li>
          <li><a href="interfaces.html"><strong>Interfaces</strong></a></li>
          <li>
            <ul>
              <li><a href="linkify-string.html">Plain-text strings</a></li>
              <li><a href="linkify-html.html">HTML strings</a></li>
              <li><a href="linkify-element.html">DOM elements</a></li>
              <li><a href="linkify-jquery.html">jQuery plugin</a></li>
              <li><a href="linkify-react.html">React component</a></li>
            </ul>
          </li>
          <li><a href="plugins.html"><strong>Plugins</strong></a></li>
          <li>
            <ul>
              <li><a href="plugin-hashtag.html">hashtag</a></li>
              <li><a href="plugin-mention.html">mention</a></li>
              <li><a href="plugin-ticket.html">ticket</a></li>
            </ul>
          </li>
          <li><a href="linkify.html"><strong>Core linkify</strong></a></li>
          <li><a href="options.html"><strong>Options</strong></a></li>
          <li><a href="caveats.html"><strong>Caveats</strong></a></li>
          <li><a href="terminology.html"><strong>Terminology</strong></a></li>
        </ul>
      </div>
    </div>
  </aside>
  <article id="docs-content" class="col-sm-8 col-lg-9">
    <h4>Jump To</h4>
    {{ content | toc }}
  </article>
</section>
